{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container"  style="color:white; width:80%;background-image: url('https://res.cloudinary.com/drrezzrvd/image/upload/v1568464281/images_1_hg7jgo.jpg'); background-repeat: no-repeat; background-size: cover">

    <h3> Top Technology News Sources</h3>
    <hr>
    {{macro.displaySourceList(technology_sources)}}

    <h3>Top Business New Sources</h3>
    <hr>
    {{ macro.displaySourceList(sources)}}

    <h3>Top Entertainment News</h3>
    <hr>
    {{ macro.displaySourceList(entertainment_sources)}}

    <h3>Top Sport News Sources</h3>
    <hr>
    {{ macro.displaySourceList(sports_sources)}}

</div>

{% endblock%}


